// Hero.module.scss

@import "../../css/mixins";
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

.heroBanner {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 83vh;
  background: #352f44;
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.title {
  font-family: "Bungee Outline", cursive;
  font-size: 7rem;
  text-shadow: 3px 0px 30px rgba(0, 0, 0, 0.2);
  padding-top: 5vh;

  @include small-size {
    font-size: 2.5rem;
  }
}

.subtitle {
  padding-bottom: 15vh;
  font-size: 2.5rem;
  text-shadow: 2px 0px 20px rgba(0, 0, 0, 0.1);

  @include small-size {
    font-size: 1rem;
  }
}

.playStopButton {
  font-size: 1.5rem;
  @include small-size {
    font-size: 1rem;
  }
  position: absolute;
  right: 30px;
  bottom: 20px;
  cursor: pointer;
}
