@import "../../css/mixins";

.notice {
  padding: 3vh;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  border-radius: var(--ifm-global-radius);

  a {
    color: var(--ifm-color-primary-lighter);
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
      color: var(--ifm-color-primary-lightest);
    }
  }

  @include small-size {
    font-size: 1rem;
  }
}

[data-theme="dark"] .notice {
  a {
    color: var(--ifm-color-primary-lightest);
  }
}
