@import "../../css/mixins";

.socialContainer {
  height: 12vh;
  padding: 0.15rem 0 0rem;
}

.socialLinks {
  @include small-size {
    & > div:nth-child(5) {
      padding-right: calc(var(--ifm-spacing-horizontal) / 2);
    }
    & > div:nth-child(0) {
      padding-left: calc(var(--ifm-spacing-horizontal) / 2);
    }
  }
}

.col {
  @include small-size {
    --ifm-col-width: 16.6%;
    margin-top: var(--ifm-spacing-vertical);
  }
}

.btn {
  height: 6rem;
  width: 6.25rem;
  border-color: transparent;
  padding: 1rem 0;

  &--active,
  &:active,
  &:hover,
  &:focus {
    .btnText {
      color: var(--ifm-font-color-base-inverse);
    }
    @include small-size {
      .btnText {
        color: transparent;
      }
    }
    .btnIcon {
      fill: var(--ifm-font-color-base-inverse);
    }
  }
  @include small-size {
    padding: 0 0 1rem;
    height: 2.5rem;
    width: 2.5rem;
    .btnText {
      color: transparent;
    }
  }
}

.btnIcon {
  display: block;
  width: 1.5rem;
  padding: 0.5rem 0;
  margin: 0 auto;
  fill: var(--ifm-button-color);
}

.btnText {
  color: var(--ifm-button-color);
}
