@import "../../css/mixins";

.aboutMeContainer {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding-top: 1rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: bold;
  margin-left: 11vh;
}

.contentRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100vh;
  align-self: center;

  @include small-size {
    flex-direction: column;
  }
}

.textContent {
  flex: 1;
  padding: 0 20px;
}

.avatarContainer {
  margin-left: 2rem;

  @include small-size {
    margin: 2rem 0 0;
  }
}

$avatar-size: 310px;
.avatar {
  display: block;
  max-width: $avatar-size;
  max-height: $avatar-size;

  img,
  & > div {
    border-radius: 999px;
    max-height: $avatar-size;
  }

  @include small-size {
    margin: 0 auto;
  }
}
